body {
    background-color: rgb(255, 251, 251);
    color:black;
  }
  
  .form-control {
    background-color: rgb(236, 236, 236);
  }
  
  .jumbo-color {
    background-color: rgb(236, 236, 236);
  }
  